%h2= @project.title

%p.description
  = @project.description
  = link_to 'Tasks', @project

%h3 Notes
%ul
  - @project.notes.each do |note|
    %li.links
      = note.description
      = link_to image_tag('cross.png'), project_note_path(@project, note), :confirm => 'Destroy Note ?', :method => :delete
      = link_to image_tag('application_edit.png'), edit_project_note_path(@project, note)

%hr

= form_for [@project, @note] do |f|
  %p
    = f.text_area :description
    = f.submit