= render 'js_content'

%h2= @project.title

%p.description
  = @project.description
  = link_to 'Notes', project_notes_path(@project)

%h3 Stuff To Do

%ul#tasks
  - @incomplete_tasks.each do |task|
    = render :partial => 'tasks/task', :locals => {:task => task}

%h3 Completed
%ul#completed
  - @completed_tasks.each do |task|
    = render :partial => 'tasks/completed_tasks', :locals => {:task => task}
    
%hr


= render 'tasks/form'
