= render 'js_content'

%h2= @project.title

%p.description
  = @project.description
  = link_to 'Notes', project_notes_path(@project)

%h3 Stuff To Do

%ul#tasks
  - @incomplete_tasks.each do |task|
    = render :partial => 'tasks/task', :locals => {:task => task}

%h3 Completed
%ul
  - @completed_tasks.each do |task|
    %li.task
      .completed
        = task.description
        = link_to image_tag('cross.png'), project_task_path(@project, task), :confirm => 'Destroy Task ?', :method => :delete

%hr

= form_for [@project, @task], :remote => true do |f|

  .errors
  %p
    = f.text_field :description
    = f.submit
