= render 'js_content'

%h2= @project.title

%p.description
  = @project.description
  = link_to 'Notes', project_notes_path(@project)

%h3 Stuff To Do

%ul#tasks
  - @project.tasks.sorted.incomplete.each do |task|
    %li{:id => "task_#{task.id}", :class => "task"}
      %span.handle [drag]
      = task.description
      = link_to image_tag('cross.png'), project_task_path(@project, task), :confirm => 'Destroy Task ?', :method => :delete
      = link_to image_tag('accept.png'), complete_task_path(@project, task), :method => :post
      
%h3 Completed
%ul
  - @project.tasks.completed.each do |task|
    %li.task
      .completed
        = task.description
        = link_to image_tag('cross.png'), project_task_path(@project, task), :confirm => 'Destroy Task ?', :method => :delete

%hr

= form_for [@project, @task] do |f|
  %p
    = f.text_field :description
    = f.submit
