!!!
%html
  %head
    %title TODO
    = stylesheet_link_tag 'sample'
    = javascript_include_tag 'jquery.min', 'jquery-ui-1.8.11.custom.min', 'rails', 'application'
    = csrf_meta_tag
    = yield :javascript
    
  %body
    
    #header
      = link_to 'PROJECTS', projects_path
      
    - [:notice, :error, :message].each do |key|
      - unless flash[key].blank?
        #flash
          %div{:id => "flash_#{key}"}
            = flash[key]
            
    = yield
    